.ya-chat
	.ya-chat__left-panel.left-panel
		.left-panel__profile 
			|	!{profLink} 
		.left-panel__search
			input.left-panel__input(placeholder="Поиск")
		ul.left-panel__chat-list
			|	!{chatBtn}
			if isLoaded
				|	!{chatsListBlock}
			else 
				|	Loading...
	|	!{chatActive}
	|	!{modal}
	|	!{modalDel}
