.ya-profile
	.ya-profile__back.profile-back 
		| !{profLink}
	.ya-profile__info
		.ya-profile__header.header-profile 
			| !{avatar}
			.header-profile__title.
			|	!{display_name}
		.ya-profile__user-info.user-info
			|	!{fields}
		.ya-profile__settings.user-info
			|	!{footer}